/* fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* style */
header {
    background-color: #33cccc;
    width: 100%;
    height: 0;
    padding-bottom: 20%;
}

h3 {
    font-family: 'Oswald', cursive;
    color: #099;
    font-size: 50px;
}

#remind_container {
    padding-top: 20%;
    padding-bottom: 5%;
}

#fourm_container {
    padding-top: 20%;
    padding-bottom: 5%;
}

#fourm_info {
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: #33cccc;
    border-radius: 50px;
}

#fourm_desc_area{
    height: 300px;
    margin-bottom: 50px;
}

.fourm_section {
    margin: 0 auto;  
    width: 90%;
    height: 100px;
    margin-top: 5px;
    font-size: 50pt;
    background-color: #c2f3f3;
    margin-bottom: 5px;
    font-family: 'Oswald', cursive;
    color: #099;

}

.reminder_tab {
    background-color: #c2f3f3;
    width: 90%;
    height: 0;
    padding-bottom: 30%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50px;
    border-left: 15px solid #33cccc;
    border-right: 15px solid #33cccc;
}

.reminder_name {
    margin-left: 20px;
    font-family: 'Oswald', cursive;
    color: #099;
    font-size: 50pt;
    font-style: italic;
}

.reminder_date {
    margin-left: 25px;
    font-family: 'Oswald', cursive;
    color: #099;
    font-size: 40pt;
    padding-top: 20px;
}

#new_button_container {
    text-align: center;
}

#new_button {
    margin-bottom: 5%;
    width: 200px;
    height: 200px;
}

#no_reminder_header {
    color: #bcbcbc;
    font-family: 'Oswald', cursive;
    margin-top: 5px;
    font-size: 45pt;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}